body{
	font-size: 16px;
	color: black;

}

#header-nav{
	background-color: red;
	border-radius: 0px;
	border: 0;
	height: 50px;
    
}

.navbar-brand{
	padding-top: 0px;
}

.navbar-brand h1{
	color: white;
	font-weight: bold;
	margin-top: 5px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid white;
}

.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -40px;
}

#nav-list{
	margin-top: 0.5px;
	background-color: red;
	margin-bottom: 100px;
	
}

#nav-list a{
	text-align: center;
	color: white;
}

#nav-list a:hover{
	background-color: yellow;
}

#nav-list a{
	font-size: 1.3em;
}

section{
	background-color: purple;
	color: white;
	padding-right: 10px;
	padding-left: 10px;
}
